.box_item_in_cart .name_product {
    font-size: 14px;
}


.box_quantity_price {
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    width: 40%;

    flex-direction: row;
    align-items: center;
}

.item_in_cart .box_quantity_price h5 {
    font-size: 14px;
}

.remove_item_card_in_cart {
    font-size: 20px;
    color: red;
}

.amount_item_in_cart {
    display: flex;
    margin-right: 32%;
    vertical-align: middle;
}

.sum_price_item {
    width: 130%;
    margin-left: -50%;
    font-size: 15px !important;
}